@tailwind base;
@tailwind components;
@tailwind utilities;

/* crear variables de css */
:root {
  --widthText: 0;
}

html {
  scroll-behavior: smooth;
}

/* incluir fuentes locales */
@font-face {
  font-family: "SGrafoType";
  src: url("/fonts/SGrafoTypeVF.ttf") format("truetype-variations");
  font-display: swap;
}

@layer utilities {
  .text-manrope {
    font-family: "Manrope", sans-serif;
  }
}

@layer utilities {
  .text-poppins {
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .text-sgrafotype {
    font-family: "SGrafoType";
  }
}

h1 {
  @apply text-poppins leading-tight font-semibold text-azuloscuro-50;

  /* Responsive */
  @apply text-3xl sm:text-3xl md:text-4xl lg:text-4xl xl:text-5xl 2xl:text-5xl;
  @apply col-start-1 col-end-13 2xl:col-start-1 2xl:col-end-4;
}

h2 {
  @apply text-poppins text-azuloscuro-50 font-semibold mb-6;

  /* Responsive */
  @apply text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-3xl 2xl:text-3xl;
  @apply col-start-1 col-end-13 2xl:col-start-1 2xl:col-end-4;
  @apply mb-4 sm:mb-4 md:mb-4 lg:mb-4 xl:mb-6 2xl:mb-6;
}




h3 {
  @apply text-poppins text-azuloscuro-50;
}

.eyebrow {
  @apply text-poppins text-2xl leading-normal text-azuloscuro-50 uppercase whitespace-nowrap;
  /* Responsive */
  @apply text-base sm:text-base md:text-xl lg:text-xl xl:text-2xl 2xl:text-2xl;
}

button {
  @apply text-poppins text-xl font-medium leading-none uppercase focus:outline-none text-azuloscuro-50 whitespace-nowrap;
  @apply transition duration-300;
  @apply hover:text-naranja-50;
}

.main-button {
  @apply text-poppins text-xl font-semibold leading-none focus:outline-none text-azuloscuro-50 whitespace-nowrap;
  @apply transition duration-300;
  @apply hover:text-naranja-50;
}



.button-big {
  @apply text-6xl font-medium leading-none  tracking-tight focus:outline-none text-azuloscuro-50 whitespace-nowrap;
  @apply transition duration-300;
  @apply hover:text-azuloscuro-50;

  /* Responsive */
  @apply text-4xl sm:text-6xl md:text-6xl lg:text-6xl xl:text-6xl 2xl:text-6xl;
}

a {
  @apply transition duration-300;
  @apply font-medium;
  @apply hover:text-naranja-50;
}

button.active {
  @apply bg-azuloscuro-50 text-white;
  @apply hover:bg-azuloscuro-50 text-white;
}

.pastilla {
  @apply py-3 px-6 rounded-full border-2;
  @apply hover:bg-azuloscuro-800  border-azuloscuro-50;
}

.pastilla_icon {
  @apply rounded-full border-2 relative;
  /* @apply flex justify-center items-center; */
  @apply hover:bg-azuloscuro-800  border-azuloscuro-50;

  /* Responsive */
  @apply w-10 sm:w-10 md:w-12 lg:w-12 xl:w-16 2xl:w-16;
  @apply h-10 sm:h-10 md:h-12 lg:h-12 xl:h-16 2xl:h-16;
}

.pastilla_icon svg {
  @apply stroke-azuloscuro-50 stroke-[3px] absolute;
  @apply w-1/4;
}

.desplegable {
  @apply py-3 px-6 border-b-2 cursor-pointer w-full;
  @apply flex flex-row justify-between items-center;
  @apply hover:bg-azuloscuro-800  border-azuloscuro-50 hover:text-azuloscuro-50;
}

.desplegable-menu {
  @apply absolute left-0 top-0 mt-[54px] border-2 border-azuloscuro-50 bg-white flex flex-col rounded-xl w-full;
}

.desplegable-menu-item {
  @apply text-left py-3 px-6 cursor-pointer;
  @apply hover:bg-azuloscuro-800  border-azuloscuro-50 hover:text-azuloscuro-50;
}

.desplegable-menu-item:last-child {
  @apply rounded-b-xl;
}

.desplegable-menu-item:first-child {
  @apply rounded-t-xl;
}

.desplegable svg {
  @apply stroke-azuloscuro-50;
}

video{
  @apply border-b-2 border-b-azuloscuro-50;
}


img{
  @apply border-b-2 border-b-azuloscuro-50;
}



section {
  @apply grid grid-cols-12 gap-x-6 gap-y-40 px-16 py-16 border-b-2 border-b-azuloscuro-50 w-full;

  /* Responsive */
  @apply px-6 sm:px-6 md:px-12 lg:px-12 xl:px-16 2xl:px-16;
  @apply py-12 sm:py-12 md:py-20 lg:py-20 xl:py-20 2xl:py-20;
  @apply gap-y-12 sm:gap-y-12 md:gap-y-20 lg:gap-y-20 xl:gap-y-20 2xl:gap-y-20;
}

.section-info-container {
  @apply col-span-12 grid grid-cols-12 gap-x-6 gap-y-6;
}

.subsection {
  @apply col-span-12 grid grid-cols-12 gap-x-6;

  /* Responsive */
  @apply gap-x-6 sm:gap-x-6 md:gap-x-6 lg:gap-x-6 xl:gap-x-6 2xl:gap-x-6;
  @apply gap-y-16 sm:gap-y-16 md:gap-y-12 lg:gap-y-12 xl:gap-y-12 2xl:gap-y-12;
}

.text-subsection {
  /* Responsive */
  @apply col-start-1 col-end-13;
  @apply sm:col-start-1 sm:col-end-13;
  @apply md:col-start-1 md:col-end-13;
  @apply lg:col-start-1 lg:col-end-7;
  @apply xl:col-start-1 xl:col-end-6;
  @apply 2xl:col-start-1 2xl:col-end-5;
  /* @apply col-start-1 col-end-13 2xl:col-start-5 2xl:col-end-13; */
}

.text-subsection-single {
  /* Responsive */
  @apply col-start-1 col-end-13 grid grid-cols-12 gap-x-6;

  /* @apply col-start-1 col-end-13 2xl:col-start-5 2xl:col-end-13; */
}

.text-subsection-single h2 {
  @apply col-start-1 col-end-13;
  @apply col-start-1 col-end-13 2xl:col-start-1 2xl:col-end-4;
}

.text-subsection-single .small-container {
  @apply col-start-1 col-end-13 2xl:col-start-5 2xl:col-end-13;
}

.big {
  @apply text-poppins text-azuloscuro-50 mb-4;

  /* Responsive */
  @apply text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-3xl 2xl:text-3xl;
  @apply leading-normal sm:leading-normal md:leading-normal lg:leading-normal xl:leading-normal 2xl:leading-normal;
}

.big:last-child {
  @apply mb-0;
}

.big-container {
  /* Responsive */
  @apply col-start-1 col-end-13 2xl:col-start-5 2xl:col-end-13;
}

.big-solo-container {
  @apply col-start-1 col-end-13;
}

.small {
  @apply text-poppins text-2xl leading-normal text-azuloscuro-50 mb-4;
  /* Responsive */
  @apply text-base sm:text-base md:text-xl lg:text-xl xl:text-xl 2xl:text-xl;
  @apply leading-relaxed sm:leading-relaxed md:leading-relaxed lg:leading-relaxed xl:leading-relaxed 2xl:leading-relaxed;
}

.small-grid {
  @apply text-poppins text-2xl leading-normal text-azuloscuro-50 mb-4;
  /* Responsive */
  @apply text-base sm:text-base md:text-xl lg:text-xl xl:text-2xl 2xl:text-2xl;
  @apply leading-relaxed sm:leading-relaxed md:leading-relaxed lg:leading-relaxed xl:leading-relaxed 2xl:leading-relaxed;
}

.small:last-child {
  @apply mb-0;
}

.small-container {
  /* Responsive */
  @apply col-start-1 col-end-13 sm:col-start-1 sm:col-end-13 md:col-start-1 md:col-end-13 lg:col-start-1 lg:col-end-13 xl:col-start-1 xl:col-end-13 2xl:col-start-5 2xl:col-end-13;
}

.tiny {
  @apply text-poppins text-lg leading-normal text-azuloscuro-50;
  /* Responsive */
  @apply text-xs sm:text-xs md:text-sm lg:text-sm xl:text-lg 2xl:text-lg;
  @apply leading-relaxed sm:leading-relaxed md:leading-relaxed lg:leading-relaxed xl:leading-relaxed 2xl:leading-relaxed;
}

textarea {
  @apply resize-none;
}

textarea:focus {
  outline: none; /* Elimina el contorno */
  @apply border-azuloscuro-50 rounded-none;
}

.enumeracion {
  @apply col-span-12 grid grid-cols-12 gap-6;
}

.enumeracion-item {
  @apply flex-col sm:flex-col md:flex-row lg:flex-col xl:flex-col 2xl:flex-col;
  @apply col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-3 xl:col-span-3 2xl:col-span-3;
  @apply grid sm:grid md:grid lg:flex xl:flex 2xl:flex;
  @apply grid-cols-12 sm:grid-cols-12 md:grid-cols-12;
  @apply gap-6 sm:gap-6 md:gap-6;
}

.enumeracion-blank{
  @apply col-span-1;
  @apply hidden sm:hidden md:hidden lg:block xl:block 2xl:block;
}

.numeral {
  @apply text-poppins leading-none font-light text-azuloscuro-50 text-6xl;
  @apply col-span-2 sm:col-span-2 md:col-span-2;

  @apply text-lg sm:text-lg md:text-xl lg:text-6xl xl:text-6xl 2xl:text-6xl;
  @apply font-bold sm:font-bold md:font-bold lg:font-light xl:font-light 2xl:font-light;
}

.numeral-text {
  @apply col-span-10 sm:col-span-10 md:col-span-10;
}
